<template>
  <div class="cart_product">
    <div class="content">
      <img :src="product.product.images.main" width="130px" style="object-fit: cover" alt="">
      <div>
        <h4>{{ product.product.title }}</h4>
        <div style="display: flex;">
          <div style="font-size: 12px; margin-top: 2px; display: flex">
            <img src="~assets/png/status.png" style="width: 18px !important; height: 20px !important;" alt="">
            <span style="margin: 0 7px">موجود در انبار</span>
          </div>
          <div style="font-size: 12px; display: flex">
            <span style="margin: 2px 10px" dir="ltr">{{ product.product.rating.rate }}
              <span>({{ product.product.rating.count }})</span>
            </span>
            <img src="~assets/png/star.png" style="width: 18px !important; height: 20px !important;" alt="">
          </div>
        </div>
        <div dir="ltr" style="text-align: right; margin-top: 15px">
          <div class="badge" style="float: right; margin-left: 5px">{{product.quantity}}</div>
          <span>عدد</span>
        </div>
      </div>
    </div>
    <div style="margin-top: 5px; margin-left: 15px; text-align: left">
          <span style="font-size: 24px">
            <b>{{product.product.price.selling_price ? $helper.numberWithCommas(product.product.price.selling_price / 10) : '0' }}</b>
          </span>
      <span>تومان</span>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      product: {
        type: Array
      }
    }
  }
</script>

<style scoped>
  .cart_product{
    width: 100% !important;
    padding: 20px 0;
    background-color: #fff;
    border-bottom: solid 1px #eeeeee;
  }

  .content{
    display: flex;
  }
</style>
