<template>
  <div class="lists-main">
    <div class="lists-filter" style="position:relative;">
      <div class="content">
        <div style="color: #939393; margin: auto 0">سبد خرید</div>
      </div>
    </div>
    <hr style="width: 97%; opacity: 0.2">
    <div class="products">
        <CartProduct v-for="item in productList" :product="item" />
    </div>
  </div>
</template>

<script>
import Loading from "~/components/loading";
import Product from "~/components/Product";
import CartProduct from "~/components/CartProduct";

export default {
  components: {CartProduct, Product, Loading},
  data() {
    return {
      productList: [],
    }
  },
  methods: {
    getFromStorage() {
      if(process.browser) {
        this.productList = JSON.parse(localStorage.getItem('productList'))
      }
    },
  },
  created() {
    this.getFromStorage();
  }
}
</script>

<style scoped>
.lists-main {
  width: 75%;
  background-color: #fff;
  border: solid 1px #eee;
  position: relative;
}

.lists-filter {
  width: 100%;
  min-height: 50px;
  max-height: fit-content;
  background-color: #fff;
}

.lists-filter .content {
  padding-top: 12px;
  padding-right: 20px;
  display: flex;
}

.clickable-badge {
  width: fit-content;
  padding: 0 10px;
  height: 35px;
  background-color: #fff;
  color: #1d1d1d;
  border-radius: 30px;
  line-height: 35px;
}

.active-badge {
  background-color: #F45A6E;
  color: white;
}

.clickable-badge:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.active-badge:hover {
  background-color: #F45A6E !important;
  color: white !important;
}

.product img {
  width: 200px !important;
  height: 200px !important;
}

.paginate-btn{
  width: 40px;
  height: 40px;
  background-color: #F45A6E;
  border-radius: 100%;
  text-align: center;
  color: white;
  display: inline-block;
  margin: 5px;
  line-height: 48px;
  cursor: pointer;
  border: 0;
}

.paginate-controls{
  float: left;
  position: absolute;
  top: 3px;
  left: 10px
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.products {
  width: 100%;
}
</style>
