<template>
  <div class="sidebar">
    <div class="filters" style="display: flex; justify-content: space-between">
      <div class="label">جمع سبد خرید</div>
      <div style="margin-top: 6px">
        <span style="font-size: 20px"><b>{{ $helper.numberWithCommas(total) }}</b></span>
        <span style="font-size: 16px">تومان</span>
      </div>
    </div>
    <div style="text-align: center; margin: 0 auto 20px auto">
      <button class="btn btn-danger" style="width: 90%; font-size: 18px; height: 50px">ادامه فرآیند خرید</button>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        productList: [],
        total: 0
      }
    },
    methods: {
      getFromStorage() {
        if(process.browser) {
          this.productList = JSON.parse(localStorage.getItem('productList'))
        }
      },
      getTotalPrice() {
        this.productList.map((item) => {
          return this.total += (item.product.price.selling_price * item.quantity) / 10
        })
      }
    },
    created() {
      this.getFromStorage();
      this.getTotalPrice();
    }
  }
</script>

<style scoped>
  .sidebar{
    width: 25%;
    height: fit-content;
    background-color: #fff;
    border: solid 1px #eee;
  }

  @media screen and (max-width: 768px){
    .sidebar{
      width: 100%;
    }
  }

  .filters{
    padding: 20px;
  }

  .input{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    border: solid 1px #939393;
    margin: 0 5px;
    outline: 0;
    padding: 0 10px;
  }

  .label{
    padding: 10px;
  }
</style>
