<template>
  <div class="header">
    <div class="container">
      <div class="content" dir="rtl">
        <div style="margin-top: 7px">
          <Logo />
        </div>
        <div class="search">
          <input type="text" @keyup.enter="$nuxt.$emit('onSearch')" v-model="search" placeholder="نام کالا، برند و یاد دسته مورد نظر خود را جستجو کنید ...">
          <button class="btn" @click="$nuxt.$emit('onSearch')"><img src="~assets/png/search.png" width="20px" alt=""></button>
        </div>
        <div class="cart">
          <div style="display: flex">
            <img src="~assets/png/shop_cart.png" class="shop-icon" style="cursor: pointer" width="30px" alt="">
            <div class="badge">{{productsCount}}</div>
          </div>
          <div class="cart_list" v-if="productList">
              <div class="item" v-for="item in productList">
                <div style="display: flex">
                  <img :src="item.product.images.main" width="50px" style="height: 50px" alt="">
                  <div>
                    <span>{{ item.product.title }}</span>
                    <span>{{item.product.price.selling_price ? $helper.numberWithCommas(item.product.price.selling_price / 10) : '0' }} تومان</span>
                  </div>
                  <div>{{item.quantity}}</div>
                </div>
              </div>
              <div class="item item-button">
                <div style="display: flex">
                  <button class="btn-danger" style="width: 100%; height: 40px; border: 0; border-radius: 10px">ثبت سفارش</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '@/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data() {
    return {
      productList: [],
      productsCount: 0,
    }
  },
  computed: {
    search: {
      set(value) {
        this.pushQuery('search', value);
      },
      get() {
        return this.$route.query.search
      }
    }
  },
  methods: {
    pushQuery(key, value) {
      let query = Object.assign({}, this.$route.query);

      if (query.page) {
        delete query.page;
      }

      if (query[key] === value) {
        delete query[key];
        this.$router.push({query});
        return;
      }

      query[key] = value;
      if (value === "" || !value) {
        delete query[key];
      }

      this.$router.push({query});
    },
    getFromStorage() {
      if(process.browser) {
        this.productList = JSON.parse(localStorage.getItem('productList'))
      }
    },
    getCartLength() {
      if(process.browser) {
        this.productsCount = this.$helper.getSafe(() => JSON.parse(localStorage.getItem('productList')).length, 0);
      }
    }
  },
  created() {
    this.getFromStorage();
    this.getCartLength();
  }
}
</script>

<style scoped>
.header {
  width: 100%;
  height: 70px;
  background-color: #fff;
  margin: auto;
  padding: 30px 0 0 0;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: solid 1px #eee;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.search input {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  border: solid 2px #eee;
  outline: 0;
  padding-right: 10px;
  padding-left: 10px;
  text-align: right;
}

.search{
  position: relative;
}

.btn{
  background-color: #F45A6E;
  border: 0;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  position: absolute;
  left: 7px;
  top: 7px
}

.btn:hover{
  background-color: #ea3e53;
  cursor: pointer;
}

.cart_list{
  width: 250px;
  background-color: #fff;
  border: solid 1px #eee;
  position: absolute;
  z-index: 999999;
  left: 0;
  display: none;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
}

.cart_list .item{
  text-align: right;
  border-bottom: solid 1px #eee;
  padding: 10px;
}

.cart:hover .cart_list{
  opacity: 1;
  display: block;
}
</style>
