<template>
  <div class="lists-main">
    <div class="lists-filter" style="position:relative;">
      <div class="content">
        <div style="color: #939393; margin: auto 0">مرتب سازی بر اساس:</div>
        <div style="margin-right: 10px">
          <div class="clickable-badge" :class="$route.query.sort == 4 && 'active-badge'" @click="sort(4)">پرفروش ترین
          </div>
        </div>
        <div style="margin-right: 10px">
          <div class="clickable-badge" :class="$route.query.sort == 27 && 'active-badge'" @click="sort(27)">محبوب ترین
          </div>
        </div>
        <div style="margin-right: 10px">
          <div class="clickable-badge" :class="$route.query.sort == 22 && 'active-badge'" @click="sort(22)">جدیدترین
          </div>
        </div>
      </div>
      <div dir="ltr" class="paginate-controls">
        <button @click="addPage()" class="paginate-btn"><img src="~assets/png/arrow-angle-pointing-to-left.png" width="15px" alt=""></button>
        <button @click="reducePage()" :class="prevDisabled && 'disabled'" class="paginate-btn"><img src="~assets/png/right-arrow-angle.png" width="15px" alt=""></button>
      </div>
    </div>
    <div class="centered" v-show="loading">
      <div class="loading">
        <loading/>
      </div>
    </div>
    <div class="products">
      <Product v-for="item in list" :list="item" :statuses="statuses" :key="item.id" />
    </div>
  </div>
</template>

<script>
import Loading from "~/components/loading";
import Product from "~/components/Product";

export default {
  components: {Product, Loading},
  data() {
    return {
      list: [],
      loading: false,
      paginate: 1,
      has_selling_stock: 0,
      prevDisabled: true,
      statuses: {
        marketable: 'موجود در انبار'
      },
    }
  },
  computed: {
    counter() {
      return this.$store.state.counter
    },
    sortNum: {
      set(value) {
        this.pushQuery('sort', value);
      },
      get() {
        return this.$route.query.sort
      }
    },
  },
  watch: {
    sortNum() {
      this.getData();
    },
    paginate() {
      this.getData();
    }
  },
  methods: {
    reducePage() {
      if(this.paginate < 2) {
        this.page = 1
      }else {
        this.paginate--
      }

      if (this.paginate === 1) {
        this.prevDisabled = true
      }
    },
    addPage() {
      this.prevDisabled = false
      this.paginate++
    },
    sort(num) {
      this.sortNum = num;
      this.pushQuery('sort', num);
    },
    pushQuery(key, value) {
      let query = Object.assign({}, this.$route.query);

      if (query.page) {
        delete query.page;
      }

      if (query[key] === value) {
        delete query[key];
        this.$router.push({query});
        return;
      }

      query[key] = value;
      if (value === "" || !value) {
        delete query[key];
      }

      this.$router.push({query});
    },
    getData() {
      this.loading = true
      this.$axios.$get(`/search/`, {
        params: {
          sort: this.sortNum || 4,
          rows: 30,
          page: this.paginate || 1,
          q: this.$route.query.search,
          has_selling_stock: this.has_selling_stock
        }
      }).then((res) => {
        this.loading = false
        this.list = res.data.products
      })
    }
  },
  created() {
    !this.$route.query.sort ? this.$route.query.sort = 4 : this.$route.query.sort = this.sortNum
    this.getData();
    this.$nuxt.$on('onSearch', () => {
      this.getData();
    });
    this.$nuxt.$on('has_selling', () => {
      this.has_selling_stock === 0 ? this.has_selling_stock = 1 : this.has_selling_stock = 0
      this.getData();
    })
  },
}
</script>

<style scoped>

a{
  color: #1d1d1d;
  text-decoration: none;
}

.lists-main {
  width: 75%;
  background-color: #fff;
  border: solid 1px #eee;
  position: relative;
}

.lists-filter {
  width: 100%;
  min-height: 60px;
  max-height: fit-content;
  background-color: #fff;
  border-bottom: solid 1px #eee;
}

.lists-filter .content {
  padding-top: 12px;
  padding-right: 20px;
  display: flex;
}

.clickable-badge {
  width: fit-content;
  padding: 0 10px;
  height: 35px;
  background-color: #fff;
  color: #1d1d1d;
  border-radius: 30px;
  line-height: 35px;
}

.active-badge {
  background-color: #F45A6E;
  color: white;
}

.clickable-badge:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.active-badge:hover {
  background-color: #F45A6E !important;
  color: white !important;
}

.product img {
  width: 200px !important;
  height: 200px !important;
}

.paginate-btn{
  width: 40px;
  height: 40px;
  background-color: #F45A6E;
  border-radius: 100%;
  text-align: center;
  color: white;
  display: inline-block;
  margin: 5px;
  line-height: 48px;
  cursor: pointer;
  border: 0;
}

.paginate-controls{
  float: left;
  position: absolute;
  top: 3px;
  left: 10px
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.products {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media screen and (max-width: 1000px){
  .products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lists-filter .content {
    display: inline-block !important;
  }
  .clickable-badge{
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px){
  .products {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .lists-main{
    width: 100%;
  }
}
</style>
