<template>
  <div class="overlay">
    <div class="loading">
      <div class="logo">
        <Logo />
      </div>
    </div>
  </div>
</template>

<script>
import Logo from "~/components/Logo";
export default {
  components: {Logo}
}
</script>

<style scoped>
  .loading{
    width: 200px;
    height: 150px;
    background-color: white;
    position: relative;
  }

  .logo{
    position: absolute;
    top: 60px;
    left: 45px;
  }
</style>
