<template>
  <div>
    <nuxt-link to="/"><img src="https://www.digikala.com/static/files/bc60cf05.svg" alt=""></nuxt-link>
  </div>
</template>

<script>
export default {
  name: "Logo"
}
</script>

<style scoped>

</style>
