<template>
  <nuxt-link :to="`/product/${list.id}`">
    <div class="product">
      <img :src="list.images.main" alt="">
      <p style="display: flex; min-height: 65px; max-height: fit-content">{{ list.title }}</p>
      <div style="display: flex; justify-content: space-between">
        <div style="font-size: 12px; display: flex">
          <img src="~assets/png/status.png" style="width: 18px !important; height: 20px !important;" alt="">
          <span style="margin: 0 7px">{{ statuses[list.status] }}</span>
        </div>
        <div style="font-size: 12px; display: flex">
            <span style="margin: 2px 10px" dir="ltr">{{ list.rating.rate }}
              <span>({{ list.rating.count }})</span>
            </span>
          <img src="~assets/png/star.png" style="width: 18px !important; height: 20px !important;" alt="">
        </div>
      </div>
      <div style="text-align: left; margin-top: 5px">
      <span style="font-size: 24px">
        <b>{{ list.price.selling_price ? $helper.numberWithCommas(list.price.selling_price / 10) : '0' }}</b>
      </span>
        <span>تومان</span>
      </div>
      <nuxt-link to="/cart">
        <button class="btn btn-danger" @click="addToCart()">افزودن به سبد خرید</button>
      </nuxt-link>
    </div>
  </nuxt-link>
</template>
<script>
export default {
  name: 'Product',
  props: {
    list: {},
    statuses: {}
  },
  methods: {
    addToCart() {
      this.$store.dispatch('addProductToCart', {
        product: this.list,
        quantity: 1
      }).then(() => {
        localStorage.setItem("productList", JSON.stringify(this.$store.state.cart));
      })
    }
  }
}
</script>

<style>
</style>

<style scoped>

.product {
  margin: 15px;
  padding: 15px;
  transition: all 0.5s;
}

.product:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.product img {
  width: 200px !important;
  height: 200px !important;
}

.btn {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.product:hover .btn {
  opacity: 1;
  transform: translateY(-5px);
}

</style>
