<template>
  <div class="sidebar">
    <div class="filters">
      فیلترها
      <div style="display: flex; margin-top: 10px">
        <input @click="$nuxt.$emit('has_selling')" type="checkbox" class="checkbox"/>
        <label style="margin: 5px">فقط کالاهای موجود</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: 1
    }
  },
  methods: {
    pushQuery(key, value) {
      let query = Object.assign({}, this.$route.query);

      if (query.page) {
        delete query.page;
      }

      if (query[key] === value) {
        delete query[key];
        this.$router.push({query});
        return;
      }

      query[key] = value;
      if (value === "" || !value) {
        delete query[key];
      }

      this.$router.push({query});
    }
  },
  computed: {
    has_selling_stock: {
      set(value) {
        this.pushQuery('has_selling_stock', value);
      },
      get() {
        return this.$route.query.has_selling_stock
      }
    }
  },
  components: {}
}
</script>

<style scoped>
.sidebar {
  width: 25%;
  height: fit-content;
  background-color: #fff;
  border: solid 1px #eee;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}

.filters {
  padding: 20px;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: solid 1px #939393;
  margin: 0 5px;
  outline: 0;
  padding: 0 10px;
}

.label {
  padding: 10px;
}

.checkbox {
  position: relative;
  cursor: pointer;
  appearance: none;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 2px solid #ccc;
  outline: none;
  transition: 0.3s;
}

.checkbox::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ccc;
  top: 3px;
  right: 4px;
  transition: 0.3s ease-in-out;
}

.checkbox:checked::before {
  transform: translateX(-23px);
  background: #fff;
}

.checkbox:checked {
  border-color: #F45A6E;
  background-color: #F45A6E;
}
</style>
