<template>
  <div>
    <Header/>
    <div class="container">
      <div class="details">
        <div class="content" style="padding: 0 15px">
          <img :src="$helper.getSafe(() => product.images.main, '')" style="width: 300px; object-fit: cover" alt="">
          <div style="margin-right: 20px">
            <h1>{{ $helper.getSafe(() => product.title, '') }}</h1>
            <div style="display: flex">
              <div style="font-size: 16px; display: flex">
                <img src="~assets/png/status.png" style="width: 22px !important; height: 26px !important;" alt="">
                <span style="margin: 0 7px">{{ $helper.getSafe(() => statuses[product.status], '') }}</span>
              </div>
              <div style="font-size: 12px; display: flex">
            <span style="margin: 2px 10px" dir="ltr">{{ $helper.getSafe(() => product.rating.rate, '') }}
              <span>({{ $helper.getSafe(() => product.rating.count, '') }})</span>
            </span>
                <img src="~assets/png/star.png" style="width: 18px !important; height: 20px !important;" alt="">
              </div>
            </div>
            <div style="text-align: left; margin-top: 5px">
              <span style="font-size: 34px">
                <b>{{$helper.getSafe(() => product.price.selling_price, '') ? $helper.numberWithCommas(product.price.selling_price / 10) : '0' }}</b>
              </span>
              <span>تومان</span>
            </div>
            <nuxt-link to="/cart">
              <button class="btn btn-danger"style="width: 200px; height: 50px; margin-top: 20px" @click="addToCart()">افزودن به سبد خرید</button>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Header from "~/components/Header";

export default {
  components: {Header},
  data() {
    return {
      product: [],
      statuses: {
        marketable: 'موجود در انبار'
      }
    }
  },
  methods: {
    addToCart() {
      this.$store.dispatch('addProductToCart', {
        product: this.product,
        quantity: 1
      }).then(() => {
        localStorage.setItem("productList", JSON.stringify(this.$store.state.cart));
      })
    },
    getData() {
      this.$axios.$get(`/product/${this.$route.params.product}/`).then((res) => {
        this.product = res.data.product
      })
    }
  },

  created() {
    this.getData();
  }
}
</script>

<style scoped>
.details {
  width: 100%;
  background-color: white;
  margin-top: 120px;
  text-align: right;
  padding: 40px 0;
}

.content {
  display: flex;
  direction: rtl;
}

@media screen and (max-width: 768px){
  .content{
    display: block !important;
    margin: auto;
    text-align: center;
  }
}


</style>
