@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('/fonts/YekanBakhFaNum-Light.eot');
    src: url('/fonts/YekanBakhFaNum-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/YekanBakhFaNum-Light.woff') format('woff'),
        url('/fonts/YekanBakhFaNum-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum Hairline';
    src: url('/fonts/YekanBakhFaNum-Hairline.eot');
    src: url('/fonts/YekanBakhFaNum-Hairline.eot?#iefix') format('embedded-opentype'),
        url('/fonts/YekanBakhFaNum-Hairline.woff') format('woff'),
        url('/fonts/YekanBakhFaNum-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('/fonts/YekanBakhFaNum-Thin.eot');
    src: url('/fonts/YekanBakhFaNum-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/YekanBakhFaNum-Thin.woff') format('woff'),
        url('/fonts/YekanBakhFaNum-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('/fonts/YekanBakhFaNum-Fat.eot');
    src: url('/fonts/YekanBakhFaNum-Fat.eot?#iefix') format('embedded-opentype'),
        url('/fonts/YekanBakhFaNum-Fat.woff') format('woff'),
        url('/fonts/YekanBakhFaNum-Fat.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('/fonts/YekanBakhFaNum-Regular.eot');
    src: url('/fonts/YekanBakhFaNum-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/YekanBakhFaNum-Regular.woff') format('woff'),
        url('/fonts/YekanBakhFaNum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('/fonts/YekanBakhFaNum-Heavy.eot');
    src: url('/fonts/YekanBakhFaNum-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/fonts/YekanBakhFaNum-Heavy.woff') format('woff'),
        url('/fonts/YekanBakhFaNum-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('/fonts/YekanBakhFaNum-Bold.eot');
    src: url('/fonts/YekanBakhFaNum-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/YekanBakhFaNum-Bold.woff') format('woff'),
        url('/fonts/YekanBakhFaNum-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('/fonts/YekanBakhFaNum-Medium.eot');
    src: url('/fonts/YekanBakhFaNum-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/YekanBakhFaNum-Medium.woff') format('woff'),
        url('/fonts/YekanBakhFaNum-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

