*{
  font-family: "Yekan Bakh FaNum";
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;

}

body{
  background-color: #F5F5F5;
}

.btn{
  width: 120px;
  height: 40px;
  border: 0;
  outline: 0;
  border-radius: 40px;
}

.btn-danger{
  background-color: #F45A6E;
  color: white;
  transition: 0.5s;
}

.btn-danger:hover{
  background-color: #ea3e53;
  color: white;
  cursor: pointer;
}

.btn-primary{
  background-color: #288fff;
  color: white;
  transition: 0.5s;
}


.badge{
  background-color: #F45A6E;
  width: 25px;
  height: 25px;
  line-height: 27px;
  color: white;
  text-align: center;
  border-radius: 20px;
}

.btn-primary:hover{
  background-color: #1682f8;
  color: white;
}

.centered {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  transition: 0.5s;
}

.loading{
  position: absolute;
  top: 120px;
  right: calc(50% - 100px);
}

.input{
  border: solid 1px #eee !important;
  outline: 0;
  border-radius: 20px;
}
