<template>
    <div>
      <Header />
      <div class="main" style="margin-top: 150px">
        <div class="container" dir="rtl">
          <div class="main-content" style="display: flex">
            <CartList class="main-components" />
            <Checkout class="main-components" />
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import Header from "~/components/Header";
import CartList from "~/components/CartList";
import Checkout from "~/components/Checkout";
export default {
  components: {Checkout, CartList, Header}
}
</script>

<style scoped>
  .main-components{
    margin: 10px;
  }
</style>
