<template>
  <div>
    <Header />
    <div class="main">
        <div class="container" dir="rtl">
          <div class="main-content" style="display: flex">
            <Sidebar class="main-components" />
            <Lists class="main-components" />
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import Header from "~/components/Header";
import Sidebar from "~/components/Sidebar";
import Lists from "~/components/Lists";
export default {
  components: {Lists, Sidebar, Header},
}
</script>

<style scoped>
  .main{
    margin-top: 200px;
  }

  .main-components{
    margin: 0 10px;
  }

  @media screen and (max-width: 768px){
    .main-content{
      display: block !important;
    }
    .main-components{
      margin: 10px 0;
    }
  }
</style>
